<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>Mikoto-Pixiv-Database</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link
            href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link
            href="https://cdn.staticfile.org/font-awesome/6.1.1/css/all.min.css"
            rel="stylesheet"
    />
</head>
<body style="background: rgb(13, 17, 23); color: rgb(201, 209, 217)">
<div class="container mt-3">
    <h1>Mikoto-Pixiv-Database</h1>

    <span
    >You can use it easily by
        <a href="https://github.com/mikoto-tech/pixiv-database-connector"
        >Pixiv-Database-Connector</a
        ></span
    >
</div>

<div class="container mt-3">
    <!--/*@thymesVar id="artworkCount" type="java.lang.Long"*/-->
    We have more than <b><span th:utext="${artworkCount}"></span></b> artworks.
</div>
<div class="container mt-3">
    <small>
        <a href="https://github.com/mikoto-tech"
        ><i class="fa-brands fa-github"></i> Mikoto-Tech</a
        >
        2022
    </small>
</div>
</body>
</html>
